*.txt           eol=lf
*.md            eol=lf
*.scala         eol=lf
*.java          eol=lf
*.properties    eol=lf
*.sbt           eol=lf
*.rb            eol=lf
*.xml           eol=lf
*.html          eol=lf
*.iml           eol=lf
